@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

* {
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#top_bar {
    height: 76px;
    background-color: #2d2233;
    background-image: '/img/olaa.png';
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#top_about {
    height: 150px;
    background-color: #8dc349 !important;
}

#top_about h1 {
    margin: 0;
    padding-top: 10px;
    font-size: 60px;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#content p {
    color: black;
    font-size: 20px; 
    margin: 4em 15% 10em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#top_bar img { 
    width: 50px;
    margin-top: 2px;
    margin-left: 15px;
}

#top_bar a {
    color: white;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin: 20px 30px 0px 0px;
    padding: 8px 14px;
}

#top_bar a:hover {
    text-decoration: underline;
}

#top_bar a.active {
    background-color: #8DC349;
    border-radius: 8px;
}

#top_bar span{
    display: inline-block;
    position: relative;
    top:-18px;
    left: 10px;
    font-size: 30px; 
}

#map-canvas span{
background-color: gray ;
opacity: 0.4;
    filter: alpha(opacity=40);    
border-radius:50%;
border-color: black;
-moz-border-radius:50%;
-webkit-border-radius:50%;
}

#map-canvas {
    position: absolute;
    top: 77px;  
    width: 100%;
    display: block;
    margin: 0; 
    overflow: auto;
    bottom: 0;
}

.helper {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 2%;
    color: #fff;
}

.helper-title {
    background: #2d2233;
    padding: 0.5em 0.8em;
    cursor: pointer;
    border-radius: 5px;
}

.helper-content {
    display: none;
    position: absolute;
    top: -170px;
    right: 2%;
    background: #2d2233;
    border-radius: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.helper-title:hover + .helper-content {
    display: block;
}

.helper-content li {
    
    font-size: 1.4em;
    display: inline-block;
    width: 190px;
}

.helper-content li:last-child {
    padding-bottom: 0.5em;
}

.helper-content:after {
    content: '';
    border-top: 20px solid #2d2233;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -17px;
    right: 16px;
}

.helper-content p {
    display: inline-block;
}

.helper-content img {
    vertical-align: middle;
    margin-right: 10px
}